﻿@model UrentMe.Models.tb_usuario

@{
    ViewBag.Title = "LoginRegistro";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login V1</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="~/Recursos_Login/css/main.css">
    <!--===============================================================================================-->
    <link href="~/Recursos_Login/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Recursos_Login/css/bootstrap-social.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" rel="stylesheet" />

    <!--====GOOGLE METAS===========================================================================================-->
    <meta name="google-signin-scope" content="profile email">
    <meta name="google-signin-client_id" content="926056972225-b47ps6u085oavtrbf7gi9o52tg60pjbj.apps.googleusercontent.com">


    


</head>
<body>



    @using (Html.BeginForm())
    {
        <div style="display:none">
            @Html.EditorFor(model => model.nom_usuario, new { htmlAttributes = new { @class = "", @id = "User_name", placeholder = "", @readonly = true } })
            @Html.EditorFor(model => model.foto_usuario, new { htmlAttributes = new { @class = "", @id = "UserFotoRegistro", placeholder = "", @readonly = true } })
        </div>

        <div class="page">
            <div class="container">
                <div class="left">
                    <div class="login" style="text-align:center">Login</div>
                    <div class="eula" style="text-align:center">
                        <div class="">

                            <!---BOTONES DE LOGUEO-->

                            <a class="col-10 btn btn-block btn-social btn-facebook" id="login">
                                <span class="fab fa-facebook-square"></span> Ingresar con Facebook
                            </a>
                            <a class="col-10 mb-4 btn btn-block btn-social btn-google" onclick="GoogleHack()">
                                <span class="fab fa-google"></span> Ingresar con Google
                            </a>

                                <div class="g-signin2"   data-onsuccess="onSignIn" data-theme="dark"></div>
                            

                        </div>

                        <img id="User_foto" style="width:100px;height:100px; border-radius:50%; margin-top:10px;" src="~/Recursos_Login/images/AntiLogo.jfif" />
                    </div>
                </div>
                <div class="right">
                    <svg viewBox="0 0 320 300">
                        <defs>
                            <linearGradient inkscape:collect="always"
                                            id="linearGradient"
                                            x1="13"
                                            y1="193.49992"
                                            x2="307"
                                            y2="193.49992"
                                            gradientUnits="userSpaceOnUse">
                                <stop style="stop-color:#ff00ff;"
                                      offset="0"
                                      id="stop876" />
                                <stop style="stop-color:#ff0000;"
                                      offset="1"
                                      id="stop878" />
                            </linearGradient>
                        </defs>
                        <path d="m 40,120.00016 239.99984,-3.2e-4 c 0,0 24.99263,0.79932 25.00016,35.00016 0.008,34.20084 -25.00016,35 -25.00016,35 h -239.99984 c 0,-0.0205 -25,4.01348 -25,38.5 0,34.48652 25,38.5 25,38.5 h 215 c 0,0 20,-0.99604 20,-25 0,-24.00396 -20,-25 -20,-25 h -190 c 0,0 -20,1.71033 -20,25 0,24.00396 20,25 20,25 h 168.57143" />
                    </svg>
                    <div class="form">
                        <label for="email">Email</label>
                        @Html.EditorFor(model => model.email_usuario, new { htmlAttributes = new { @class = "", @id = "User_email", placeholder = "Email", @readonly = true } })

                        <label for="password">Password</label>
                        @Html.PasswordFor(m => Model.pass_usuario, new { @class = "", placeholder = "Contraseña", @id = "User_pass", @readonly = true })
                        <input type="submit" id="submit" value="Continuar">
                    </div>
                </div>
            </div>
        </div>


    }







    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Recursos_Login/js/main.js"></script>


    <script>
    function GoogleHack() {
        document.getElementsByClassName("g-signin2").onSignIn;
        alert();
        }

    </script>

    <!--==============SCRIPTS DE FACEBOOK=================================================================================-->
    <script src="~/Scripts/Login.js"></script>


    <!--LOGUEO CON GOOGLE-------------------------------------------------->
    <script src="https://apis.google.com/js/platform.js"></script>
    <script>
        function onSignIn(googleUser) {
            var profile = googleUser.getBasicProfile();
            //console.log("ID: " + profile.getId());
            //console.log('Full Name: ' + profile.getName());
            $('#User_name').val(profile.getName());
            //console.log('Given Name: ' + profile.getGivenName());
            //console.log('Family Name: ' + profile.getFamilyName());
            //console.log("Image URL: " + profile.getImageUrl());
            $('#User_foto').attr('src', profile.getImageUrl());
            $('#UserFotoRegistro').val(profile.getImageUrl());
            //console.log("Email: " + profile.getEmail());
            $('#User_email').val(profile.getEmail());
            $('#User_pass').val(profile.getId());
            // The ID token you need to pass to your backend:
            //var id_token = googleUser.getAuthResponse().id_token;
            //console.log("ID Token: " + id_token);



        }
    </script>
    <!---------------------------------------------------------------------------->



</body>

</html>






