﻿@model UrentMe.Models.tb_usuario

@{
    ViewBag.Title = "Perfil";
}


    <form id="idRegistra" accept-charset="UTF-8" action="Perfil"
           method="post" enctype="multipart/form-data">



        <div class="container card" style="margin-top:50px;">


            <div class="row justify-content-between align-items-center">
                <div class="col-sm-4 mt-3">
                    <h2 class="my-3 p-2 card" style="font-family: 'Montserrat', sans-serif;font-size:45px;font-weight:bold;">Mi Perfil</h2>
                </div>
            </div>

                <div class="dropdown-divider"></div>
                <div class="row">
                    
                        <div class="col-xl-6 col-lg-6 col-md-6 col-12">

                            <div class="form-group">
                                <h5 style="font-family: 'Montserrat', sans-serif;">Nombres</h5>
                                @Html.EditorFor(model => model.nom_usuario, new { htmlAttributes = new { @class = "form-control" } })
                            </div>

                            <div class="form-group">
                                <h5 style="font-family: 'Montserrat', sans-serif;">Apellidos</h5>
                                @Html.EditorFor(model => model.ape_usuario, new { htmlAttributes = new { @class = "form-control" } })
                            </div>

                            <div class="form-group">
                                <h5 style="font-family: 'Montserrat', sans-serif;">Contraseña</h5>
                                @Html.EditorFor(model => model.pass_usuario, new { htmlAttributes = new { @class = "form-control" } })
                            </div>

                            <div class="form-group">
                                <h5 style="font-family: 'Montserrat', sans-serif;">Telefono</h5>
                                @Html.EditorFor(model => model.cel_usuario, new { htmlAttributes = new { @class = "form-control" } })
                            </div>

                        </div>

                        <div class="col-xl-6 col-lg-6 col-md-6 col-12">

                            <div class="form-group" style="margin-left:50px">
                                <img id="id_imagen_usuario" width="180" style="border-radius:50%" src='@Session["foto_usuario"].ToString()' alt="Alternate Text" />
                            </div>
                            <div class="form-group">
                                <h5 style="font-family: 'Montserrat', sans-serif;">E-mail</h5>

                                @Html.EditorFor(model => model.email_usuario, new { htmlAttributes = new { @class = "form-control" } })
                            </div>


                            <input id="archivo_imagen" type="file" accept="image/*" name="inputFotoPerfil" enctype="multipart/form-data">


                        </div>


                </div>
                <div class="form-group">
                    <input type="submit" style="width:700px;" value="Guardar Cambios" class="btn btn-primary m-0 p-0" />
                </div>
            </div>
        

        </form>

<script>

    $("#archivo_imagen").change(function () {
        if (this.files && this.files[0]) {

            var reader = new FileReader();

            reader.onload = function (r) {
                $("#id_imagen_usuario").attr('src', r.target.result);
            };

            reader.readAsDataURL(this.files[0]);
        }
    });

</script>





