﻿@using UrentMe.Models.ViewModels;
@model List<Inmueble>

<link href="~/Content/cssprueba.css" rel="stylesheet" />

@{
    ViewBag.Title = "Home Page";
}



<div class="container">
    <a onclick="window.location='/Inmueble/Publicar';" class="btn btn-warning mt-3">Publica tu inmueble</a>



<div class="row">
    <!--Filtros-->
    <div class="card col-md-3 mr-2 pt-3">
        <h6 class="mx-auto">Tipo de Inmueble</h6>
        <br>
        <ul>
            <li>Departamento</li>
            <li>Casa</li>
            <li>Oficina</li>
        </ul>
        <div class="dropdown-divider"></div>
        </br>
        <br>
        <h6 class="mx-auto">Ubicación</h6>
        <ul>
            <li>Lima</li>
            <li>Callao</li>
            <li>Ica</li>
        </ul>
        <div class="dropdown-divider"></div>
        </br>
        <h6 class="mx-auto">Precio</h6>
        <ul>
            <li>S/700</li>
            <li>S/1000</li>
            <li>S/1500</li>
            <li>S/2000</li>
        </ul>
        <div class="dropdown-divider"></div>
        </br>
        <h6 class="mx-auto">Dormitorios</h6>
        <ul>
            <li>1</li>
            <li>2</li>
            <li>3</li>
            <li>4+</li>
        </ul>
    </div>
            <!---->
            <!-- Card 1-->
    <div class="row col-md-9">


        @foreach (Inmueble i in Model)
        {
            <!--DEPARTAMENTO-->
            <div class="row pb-4">

                <div class="col-md-7 px-3">
                    <div class="card-block px-3">
                        <h5 class="card-title">@i.distrito, @i.direccion por @i.usuario</h5>
                        <p class="card-text">@i.metraje m2 | @i.habitaciones dorm | @i.banos baños</p>
                        <p class="card-text">
                           @i.descripcion
                        </p>
                        <div class="dropdown-divider"></div>
                        <h5 class="card-text">
                            S/@i.precio mensual
                        </h5>
                        <a href="#" class="btn btn-warning mt-3">Contactar</a>
                    </div>
                </div>
                <!-- Carrusel -->
                <div class="col-md-5">
                    @{var id_carousel = "c" + i.id_inmueble;}
                    <div id="@id_carousel" class="carousel slide" data-ride="carousel">

                        <div class="carousel-inner">
                            
                            @{ var active = "active";}

                            @foreach (Foto_Inmueble f in i.fotos)
                            {
                                
                                <div class="carousel-item @active">
                                   <img class="img-thumbnail" src="@f.imagen" alt="">
                                </div>

                                { active = "";}

                            }

                            <a class="carousel-control-prev" href="#@id_carousel" role="button" data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#@id_carousel" role="button" data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- fin carrusel -->
            </div>



            <div class="row ">

            </div>
            <!--DEPARTAMENTO-->
        }


    </div>
        </div>

        </div>
        
     
