﻿
@{
    ViewBag.Title = "Login";
    Layout = null;

}








<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login V1</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="~/Recursos_Login/images/icons/favicon.ico" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Recursos_Login/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Recursos_Login/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Recursos_Login/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Recursos_Login/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Recursos_Login/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Recursos_Login/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/Recursos_Login/css/main.css">
    <!--===============================================================================================-->



    <!--====GOOGLE METAS===========================================================================================-->
    <meta name="google-signin-scope" content="profile email">
    <meta name="google-signin-client_id" content="926056972225-b47ps6u085oavtrbf7gi9o52tg60pjbj.apps.googleusercontent.com">

</head>
<body>


    <div style="width:100%; height:100%" class=" col-12 d-flex justify-content-center align-items-center border border-primary">


        <div class="m-0 p-0 col-12 d-flex justify-content-center bg-primary" style="height:700px">
            <div class="col-11 border border-success d-flex align-items-center">
                
                <div class="col-12 row m-0 p-0 d-flex justify-content-center">

                    <span class="login100-form-title">
                        Login
                    </span>

                    <div class="col-lg-4 col-md-4 col-sm-12 border">
                        <!--ESPACIO PARA BOTONES DE GOOGLE Y FACEBOOK-->
                        <div class="col-12">
                            <div class="col-12 border border-secondary">
                                <div class="border">
                                    <img class="col-5 m-0 p-0" src="~/Recursos_Login/images/fb_btn.png" id="login" style="cursor:pointer; height:45px" />
                                </div>

                                <div class=" border" style="text-align:center">
                                    <div class="g-signin2" data-onsuccess="onSignIn" data-theme="dark"></div>
                                </div>

                                <div class=" border">
                                    <img id="User_foto" width="80px" height="85px" src="~/Recursos_Login/images/AntiLogo.jfif" />

                                </div>
                            </div>
                        </div>


                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 border">

                        <div class="wrap-input100 validate-input" data-validate="El campo Nombres es requerido">
                            <input class="input100" type="text" name="name" disabled id="User_name" placeholder="Nombre de Usuario">

                            <span class="focus-input100"></span>
                            <span class="symbol-input100">
                                <i class="fa fa-user" aria-hidden="true"></i>
                            </span>
                        </div>

                        <div class="wrap-input100 validate-input" data-validate="Ingrese un email valido: ex@abc.xyz">
                            <input class="input100" type="text" name="email" disabled id="User_email" placeholder="Email">
                            <span class="focus-input100"></span>
                            <span class="symbol-input100">
                                <i class="fa fa-envelope" aria-hidden="true"></i>
                            </span>
                        </div>

                        <div class="wrap-input100 validate-input" data-validate="El campo contraseña es requerido">
                            <input class="input100" id="User_pass" type="password" disabled name="pass" placeholder="Contraseña">
                            <span class="focus-input100"></span>
                            <span class="symbol-input100">
                                <i class="fa fa-lock" aria-hidden="true"></i>
                            </span>
                        </div>

                        <div class="container-login100-form-btn">
                            <button class="login100-form-btn">
                                Deseo continuar
                            </button>
                        </div>

                    </div>
                </div>

            </div>
        </div>



    </div>


    <!--===============================================================================================-->
    <script src="~/Recursos_Login/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Recursos_Login/vendor/bootstrap/js/popper.js"></script>
    <script src="~/Recursos_Login/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Recursos_Login/vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Recursos_Login/vendor/tilt/tilt.jquery.min.js"></script>
    <script>
        $('.js-tilt').tilt({
            scale: 1.1
        })
    </script>
    <!--===============================================================================================-->
    <script src="~/Scripts/Login.js"></script>
    <script src="~/Recursos_Login/js/main.js"></script>




    <!--==============SCRIPTS DE FACEBOOK=================================================================================-->
    <!--LOGUEO CON GOOGLE-------------------------------------------------->
    <script src="https://apis.google.com/js/platform.js"></script>
    <script>

        function onSignIn(googleUser) {
            var profile = googleUser.getBasicProfile();
            //console.log("ID: " + profile.getId());
            //console.log('Full Name: ' + profile.getName());
            $('#User_name').val(profile.getName());
            //console.log('Given Name: ' + profile.getGivenName());
            //console.log('Family Name: ' + profile.getFamilyName());
            //console.log("Image URL: " + profile.getImageUrl());
            $('#User_foto').attr('src', profile.getImageUrl());
            //console.log("Email: " + profile.getEmail());
            $('#User_email').val(profile.getEmail());
            $('#User_pass').val(profile.getId());
            // The ID token you need to pass to your backend:
            //var id_token = googleUser.getAuthResponse().id_token;
            //console.log("ID Token: " + id_token);
        }

    </script>
    <!---------------------------------------------------------------------------->


</body>
</html>











