﻿
@{
    ViewBag.Title = "Fotos";
}

<style>
    .fotografia {
        width: 200px;
        padding:5px;
    cursor:no-drop;

    }
</style>
<div class="container card">
    <div class="row justify-content-md-center mb-3">
        <h1>Fotografías</h1>
        <div class="col-lg-12 well">
            <div class="row justify-content-md-center">
                <form method="post" action="Fotos" enctype="multipart/form-data">

                    <div class="row">
                        <div class="col-md-12 text-center">
                            <div class="form-group">
                                <input accept="image/*" type="file" name="fotografia" enctype="multipart/form-data" id="archivo_imagen" />
                                <img id="imagen_seleccionada" src="https://cdn3.iconfinder.com/data/icons/modifiers-add-on-1/48/v-17-512.png" alt="Alternate Text" style="width:200px" />


                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div id="div_imagenes" class="col-md-12">

                        </div>
                    </div>
                    <br /><br />
                    <button type="submit" class="btn btn-lg btn-warning" style="width: 100%;">Añadir foto</button>
                    <br /><br />
                    <button type="button" class="btn btn-lg btn-secondary" style="width: 100%;" onclick="window.location='/Home/Index';" />Terminar</button>

                </form>

            </div>


        </div>
    </div>
</div>



<script>

    $("#archivo_imagen").change(function () {
        if (this.files && this.files[0]) {

            var reader = new FileReader();

            reader.onload = function (r) {
                $("#imagen_seleccionada").attr('src', r.target.result);
            };

            reader.readAsDataURL(this.files[0]);
        }
    });

    $(document).ready(function () {

           


        $.get("ListarFotografias", function (data) {

           

            $.each(data, function (key,value) {

                $("#div_imagenes").append('<img class="fotografia" src="' + value.imagen + '" alt="Alternate Text" style="width:200px" identificador="' + value.id_foto + '" onclick="eliminar(' + value.id_foto + ')" />');
            });

        });

       

    });

    function eliminar(id) {
         
       console.log(id);
        $.post("EliminarFotografia", { codigo: id });
        location.reload();
    }

   
        
      
</script>
