﻿
@{
    ViewBag.Title = "Publicar";
}

<div class="container card">
    <div class="row justify-content-md-center mb-3">
        <h1>Registrar Inmueble</h1>
        <div class="col-lg-12 well">
            <div class="row justify-content-md-center">
                <form method="post" action="Publicar">
                    <div class="row">
                        <div class="form-group col-md-12">
                            <label>Descripcion del inmueble</label>
                            <textarea rows="3" class="form-control" name="descripcion"></textarea>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-sm-4 form-group">
                            <label>Metraje</label>
                            <input type="text" class="form-control" name="metraje">
                        </div>
                        <div class="col-sm-4 form-group">
                            <label>Numero de Habitaciones</label>
                            <input type="text" class="form-control" name="habitaciones">
                        </div>
                        <div class="col-sm-4 form-group">
                            <label>Precio</label>
                            <input type="text" class="form-control" name="precio">
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-sm-4 form-group">
                            <label>Número de baños</label>
                            <input type="text" class="form-control" name="banos">
                        </div>
                        <div class="col-sm-4 form-group">
                            <label>Parking</label>
                            <br />
                            <input type="radio" name="parking" value="si"> Sí
                            <br />
                            <input type="radio" name="parking" value="no" checked> No
                        </div>
                        <div class="col-sm-4 form-group">
                            <label>Mascotas</label><br />
                            <input type="radio"  name="mascotas" value="si"> Sí
                            <br />
                            <input type="radio"  name="mascotas" value="no" checked> No
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6 form-group">
                            <label>Distrito</label>
                        <select id="id_distrito" name="id_distrito" class="form-control">
                            <option value="1">Independencia</option>
                        </select>
                        </div>
                        <div class="col-sm-6 form-group">
                            <label>Direccion</label>
                            <input type="text" class="form-control" name="direccion">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 form-group">
                            <label>Telefono</label>
                            <input type="text" class="form-control" name="telefono">
                        </div>
                        

                    </div>


                    <button type="submit" class="btn btn-lg btn-warning" style="width: 100%;">Registrar</button>

                </form>
            </div>
        </div>
    </div>
</div>


<script>

    
        $.get("ListarDistritos", function (data) {
            $.each(data, function (key, value) {
                $("#id_distrito").append('<option value="' + value.id_distrito + '">' + value.nombre + '</option>');
            });

        });


</script>